@font-face {
    font-family: dx;
    src: url('../fonts/DXGamdolB-KSCpc-EUC-H.ttf');
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-position: center;
    background-image: url('../src/background.png');
}

body * {
    font-family: dx;
}

.wrap {
    width: 80%;
    margin: auto;
}

.invisible {
    display: none;
}

header {
    margin-top: 15%;
    margin-bottom: 5%;

    font-size: 5em;
    text-align: center;
}

section {    
    text-align: center;
}

section > button {
    display: inline-block;
    font-size: 3em;
}

section > div {
    width: 30%;
    margin: auto;
}

section p {
    font-size: 2em;
}

button {
    margin-right: 3%;
    margin-bottom: 2%;

    border: 0;
    outline: none;
    font-size: 2em;
    background-color: rgba(0, 0, 0, 0);
}

button:hover {
    transform: scale(1.3);
    font-weight: bold;
}

button.back {
    float: right;
    margin-top: 3%;
    font-size: 1.5em !important;
}