html, body {
    margin: 0;
    padding: 0;
}

body {
    background-position: center;
    background-image: url('../src/background.png');
    filter: brightness(0.8);
}

.wrap {
    width: 80%;
    margin: auto;
}

.invisible {
    display: none;
}

header {
    margin-top: 15%;
    margin-bottom: 5%;

    font-size: 3em;
    text-align: center;
}

section {    
    text-align: center;
}

section > button {
    display: inline-block;
    font-size: 1.7em;
}

section > div {
    width: 20%;
    margin: auto;
}

section .help {
    width: 25%;
}

button {
    margin-right: 3%;
    margin-bottom: 1%;

    border: 0;
    outline: none;
    font-size: 1.1em;
    background-color: rgba(0, 0, 0, 0);
}

button:hover {
    transform: scale(1.3);
}

button.back {
    float: right;
    margin-top: 3%;
    font-size: 1em;
}